@import "src/components/index.scss";

.custom-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // Todo - dark theme
  &.light {
    &.solid {
      @include light-solid-button;
      &.abnormal {
        @include light-solid-button($light-abnormal);
      }
      &.normal {
        @include light-solid-button($light-normal);
      }
      // To be deleted
      &.secondary {
        @include light-solid-button(#2f80ed);
      }
    }
    &.line {
      @include light-line-button;
    }
    &.ghost {
      @include light-ghost-button;
    }
  }

  box-sizing: border-box;
  border-radius: 8px;

  &.extra-large {
    min-height: 56px;
    min-width: 56px;
    font-size: 16px;
    img,
    svg {
      width: 32px;
      height: 32px;
    }
  }
  &.large {
    min-height: 48px;
    min-width: 48px;
    font-size: 16px;
    img,
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &.medium {
    min-height: 40px;
    min-width: 40px;
    font-size: 14px;
    img,
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &.small {
    min-height: 32px;
    min-width: 32px;
    font-size: 14px;
    img,
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
