@import "src/components/index.scss";

.circular-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  .circular-spinner {
    width: 20px;
    height: 20px;
    margin: 0 4px;

    border-radius: 50%;
    border: 2px solid;
    border-left-color: $light-primary;
    border-right-color: $light-primary;
    border-bottom-color: $light-primary;
    border-top-color: transparent;
    background-color: inherit;

    animation: circular-spinning 0.7s linear 0s infinite;
    user-select: none;
  }

  @keyframes circular-spinning {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
}
