@import "src/components/index.scss";

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 64px;
  height: 64px;
  padding: 8px 16px;

  box-sizing: border-box;
  border-bottom: 1px solid $light-tertiary;
  background-color: white;
  color: $light-primary;
}
