@import 'color.scss';

@mixin light-solid-button($main-color: $light-primary) {
  outline: 0 !important;
  border: none;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  background-color: $main-color;
  color: white;
  user-select: none;
  white-space: pre-wrap;
  svg {
    > path {
      transition: all 0.2s ease;
      fill: white;
    }
  }

  &:hover {
    box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.4);
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px $light-tertiary;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background-color: $light-tertiary;
    pointer-events: none;
  }
}

@mixin light-list-item {
  @include light-ghost-button;

  font-weight: 600;
  &.selected {
    color: $light-primary;
    background-color: $base-color-050;
    svg {
      > path {
        fill: $light-primary;
      }
    }
  }
}

@mixin light-ghost-button {
  outline: 0 !important;
  border: none;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  color: $light-secondary;
  background-color: transparent;
  user-select: none;
  svg {
    > path {
      transition: fill 0.2s;
      fill: $light-secondary;
    }
  }

  &:hover {
    color: $light-primary;
    background-color: $base-color-050;
    svg {
      > path {
        fill: $light-primary;
      }
    }
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px $light-tertiary;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    color: $light-tertiary;
    pointer-events: none;
    svg {
      > path {
        fill: $light-tertiary;
      }
    }
  }
}

@mixin light-line-button($main-color: $light-primary, $sub-color: $light-secondary) {
  outline: 0 !important;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  color: $sub-color;
  border: solid 2px $sub-color;
  background-color: transparent;
  user-select: none;
  svg {
    > path {
      transition: fill 0.2s;
      fill: $sub-color;
    }
  }

  &:hover {
    color: $main-color;
    border: solid 2px $main-color;
    svg {
      > path {
        fill: $main-color;
      }
    }
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px $light-tertiary;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    color: $light-tertiary;
    border: solid 2px $light-tertiary;
    pointer-events: none;
    svg {
      > path {
        fill: $light-tertiary;
      }
    }
  }
}

@mixin dark-solid-button($main-color: $dark-primary) {
  outline: 0 !important;
  border: none;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  background-color: $main-color;
  color: white;
  user-select: none;
  svg {
    > path {
      transition: all 0.2s ease;
      fill: white;
    }
  }

  &:hover {
    box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.4);
    background-color: $base-color-050;
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px #a4abc5;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background-color: $light-tertiary;
    pointer-events: none;
  }
}

@mixin dark-ghost-button {
  outline: 0 !important;
  border: none;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  color: $light-secondary;
  background-color: transparent;
  user-select: none;
  svg {
    > path {
      transition: fill 0.2s;
      fill: $light-secondary;
    }
  }

  &:hover {
    color: $light-primary;
    svg {
      > path {
        fill: $light-primary;
      }
    }
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px $light-tertiary;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    color: $light-tertiary;
    pointer-events: none;
    svg {
      > path {
        fill: $light-tertiary;
      }
    }
  }
}

@mixin dark-line-button($main-color: $light-primary, $sub-color: $light-secondary) {
  outline: 0 !important;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.2s ease;

  font-weight: bold;
  color: $sub-color;
  border: solid 2px $sub-color;
  background-color: transparent;
  user-select: none;
  svg {
    > path {
      transition: fill 0.2s;
      fill: $sub-color;
    }
  }

  &:hover {
    color: $main-color;
    border: solid 2px $main-color;
    svg {
      > path {
        fill: $main-color;
      }
    }
  }
  &:focus:focus-visible {
    box-shadow: 0 0 0 4px $light-tertiary;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    color: $light-tertiary;
    border: solid 2px $light-tertiary;
    pointer-events: none;
    svg {
      > path {
        fill: $light-tertiary;
      }
    }
  }
}
