$base-color-000: #ffffff;
$base-color-050: #f2f3f7;
$base-color-100: #d7dbe7;
$base-color-200: #bcc4d8;
$base-color-300: #a2acc8;
$base-color-400: #8794b8;
$base-color-500: #6e7a9f;
$base-color-600: #555f7b;
$base-color-700: #3d4458;
$base-color-800: #252935;
$base-color-900: #0c0e12;

$light-primary: $base-color-900;
$light-secondary: $base-color-500;
$light-tertiary: $base-color-200;
$light-normal: #43db64;
$light-abnormal: #ff3f3f;

$dark-primary: $base-color-000;
$dark-secondary: $base-color-400;
$dark-tertiary: $base-color-600;
$dark-normal: #43db64;
$dark-abnormal: #ff3f3f;

$severity-very-high: #1ccb6c;
$severity-high: #f9e428;
$severity-low: #f7a349;
$severity-very-low: #f13d62;
